@media only screen and (min-width: 769px){
  #search{
    width: 220px;
    margin:5px;
    background: rgba(255,255,255,255.3);
    color:#000000;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    font-size:18px;
    text-align-last:center;
    display: inline-block;
    -webkit-appearance:none;
  }

  .container{
    height: 100% !important ;
    max-width: 90%;
    display: block;
    padding: 10px;
    margin:0 auto;
    overflow:hidden;
    width:80%;
    column-count: 3;
    column-gap: 1em;
    text-align:center;
  }
  .item {
    display: inline-block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    display: inline-block;
    border-radius:10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    box-shadow:6px 6px 10px #000;
    width: 90%;
    text-align:center;
  }
  body {
    background: url("") no-repeat center center fixed;
    background-color: #FCFCFC;
    background-position:  center bottom;
    background-attachment: fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-size: 16px;
    font-family:'Microsoft JhengHei';
    /*min-width: 100%;
    min-height: 100%;*/
}
}
@media only screen and (min-width: 0px) and (max-width: 769px){
  #search{
    width: 14em;
    margin:5px;
    background: rgba(255,255,255,255.3);
    color:#000000;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    font-size:24px;
    text-align-last:center;
    display: inline-block;
  }

  .container{
    height: 100% !important ;
    max-width: 90%;
    display: block;
    padding: 10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    width:90%;
    column-count: 1;
    column-gap: 1em;
    text-align:center;
  }
  .item {
    display: block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    border-radius:10px;
    display: inline-block;
    box-shadow:6px 6px 10px #000;
    text-align:center;
  }

  body {
    background: url("") ;
    background-color: #F0F0F0;
    background-position:  center bottom;
    background-attachment: fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-size: 16px;
    font-family:'Microsoft JhengHei';
    /*min-width: 100%;
    min-height: 100%;*/
  }
}

.bannerimage {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.item img{
  margin:0 auto;
  display: block;
  max-width: 100%;
}

.item .name{
  font-size: 24px;
  color: #8bad00 ;
}

.item .jp_name{
  font-size: 18px;
  color: #81C0C0 ;
}

.item .hp_img{
  margin:0 auto;
  display: block;
}

#quering{
  font-size: 26px;
  color:#4F4F4F;
  text-shadow:1 1 1px rgba(100,100,100,1);
  text-align:center;
  margin:0px auto;
}

#nodata{
  font-size: 26px;
  color:#FFFFFF;
  text-shadow:0 0 10px rgba(100,100,100,1);
  text-align:center;
}

#title{
  background-color:#FF0000;
  padding:8px;
  margin-bottom:4px;
  opacity:1.0;
  border-radius:10px;
  text-align:center;
  color:#FFFFFF;
  font-size: 20px;
  text-shadow:1px 1px 6px #000;
  box-shadow:1px 1px 2px #000;
}

#food_hp 
{
  color: #CC0000 ;
  font-size: 20px;
  text-shadow: 0px 1px #000;
}

#main{
  text-align:center;
}

#idt{
  color :#5B4B00;
}
#jp_idt{
  color :#984B4B;
}
#query_select{
  text-align:center;
}
.game_box{
  display: inline-block;
  background-color:#FFFFFF;
  padding:8px;
  margin-bottom:4px;
  border:1px double;
  opacity:0.9;
  display: inline-block;
  border-radius:10px;
  margin: 5px 5px 5px 0;
  overflow:hidden;
  box-shadow:6px 6px 10px #000;
  width: 90%;
  text-align:center;

}

.container_1 {
  left: 50%;
  margin: auto -50px;
  position: absolute;
  top: 50%;
}

/*讀取特效*/
.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}
.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
  clear: left;
  padding-top: 1.5em;
}
.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background: #e3dbd2;
}
.shadow .shadow-l {
  background: #d5d8d6;
}
.shadow .shadow-r {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
  -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
  -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}


footer{
  display:flex;
  box-sizing: border-box;
  color:#4F4F4F;
  text-shadow:1 1 4px rgba(100,100,100,1);
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  justify-content:center;
  align-items:center; 
}

