@media only screen and (min-width: 769px){
  #search{
    width: 220px;
    margin:5px;
    background: rgba(255,255,255,255.3);
    color:#000000;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    font-size:18px;
    text-align-last:center;
    display: inline-block;
    -webkit-appearance:none;
  }

  .container{
    height: 100% !important ;
    max-width: 90%;
    display: block;
    padding: 10px;
    margin:0 auto;
    overflow:hidden;
    width:80%;
    column-count: 3;
    column-gap: 2em;
    text-align:center;
  }
  .item {
    display: inline-block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    display: inline-block;
    border-radius:10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    box-shadow:6px 6px 10px #000;
    width: 90%;
    text-align:center;
  }

  #msg_1 {
    height: 900px;
  }

  body {

    background: url("") no-repeat center center fixed;
    background-color: #FCFCFC;
    background-position:  center bottom;
    background-attachment: fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-size: 16px;
    font-family:'Microsoft JhengHei';
    /*min-width: 100%;
    min-height: 100%;*/
}
}
@media only screen and (min-width: 0px) and (max-width: 769px){
  #search{
    width: 14em;
    margin:5px;
    background: rgba(255,255,255,255.3);
    color:#000000;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    font-size:24px;
    text-align-last:center;
    display: inline-block;
  }

  .container{
    height: 100% !important ;
    max-width: 90%;
    display: block;
    padding: 10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    width:90%;
    column-count: 1;
    column-gap: 1em;
    text-align:center;
  }
  .item {
    display: block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    border-radius:10px;
    display: inline-block;
    box-shadow:6px 6px 10px #000;
    text-align:center;
  }

  #msg_1 {
    height: 200px;
  }
  body {
    background: url("") ;
    background-color: #F0F0F0;
    background-position:  center bottom;
    background-attachment: fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-size: 16px;
    font-family:'Microsoft JhengHei';
    /*min-width: 100%;
    min-height: 100%;*/
  }
}

.bannerimage {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#quering{
  font-size: 26px;
  color:#4F4F4F;
  text-shadow:1 1 1px rgba(100,100,100,1);
  text-align:center;
  margin:0px auto;
}

#nodata{
  font-size: 26px;
  color:#FFFFFF;
  text-shadow:0 0 10px rgba(100,100,100,1);
  text-align:center;
}

#title{
  background-color:#FF0000;
  padding:8px;
  margin-bottom:4px;
  opacity:1.0;
  border-radius:10px;
  text-align:center;
  color:#FFFFFF;
  font-size: 20px;
  text-shadow:1px 1px 6px #000;
  box-shadow:1px 1px 2px #000;
}

#guidebtn{
  padding:8px;
  margin-bottom:4px;
  margin: auto;
  text-align:center;
  opacity:1.0;
  border-radius:10px;
  font-size: 20px;
  text-shadow:1px 1px 6px #000;
  box-shadow:1px 1px 2px #000;

}

#food_hp 
{
  color: #CC0000 ;
  font-size: 20px;
  text-shadow: 0px 1px #000;
}

#main{
  text-align:center;
}

#idt{
  color :#5B4B00;
}
#jp_idt{
  color :#984B4B;
}
#query_select{
  text-align:center;
}
.game_box{
  display: inline-block;
  background-color:#FFFFFF;
  padding:8px;
  margin-bottom:4px;
  border:1px double;
  opacity:0.9;
  display: inline-block;
  border-radius:10px;
  margin: 5px 5px 5px 0;
  overflow:hidden;
  box-shadow:6px 6px 10px #000;
  width: 90%;
  text-align:center;
  z-index:0;
}

#lower_contry{
  color:#3B3B3B;
  font-size: 20px;
}

#higher_contry{
  color:#ADADAD;
  font-size: 16px;
}

#lower_box{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
}

#higher_box{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
}

#lower_price{
  height: 20px;
  background-color:#FF0000;
  border-radius:10px;
  color:#FFFFFF;
  line-height:1;
  font-size: 20px;
  text-shadow:1px 1px 6px #000;
  box-shadow:1px 1px 2px #000;
  padding:3px;
}

#higher_price{
  height: 20px;
  color:#ADADAD;
  font-size: 16px;
}

#onsale_box{
  border-radius:40px;
  background-color:#F75000;
  bottom:90;
  z-index:4;
  color:#FFFFFF;
  font-size: 18px;
  box-shadow:1px 1px 1px #000;
}
#pricetip{
  font-size: 10px;
  color:#006000;
  padding:3px;
}

#c_name{
  color:#272727;
  font-size: 20px;
}

#name{
  color:#7B7B7B;
  font-size: 14px;
  font-style:italic;
}

.best_circle {
  left: 10%;
  display: inline-block;
  width: 20px;
  height:20px;
  border-radius: 50%;
  border: 2px solid #eee;
  padding: 2px;
  background:#fff;
}
.bad_circle {
  display: inline-block;
  position:relative;
  left: 0%;
  width: 15px;
  height:15px;
  border-radius: 50%;
  border: 2px solid #eee;
  padding: 2px;
  background:#fff;
}

.innimg{
  background-size:cover;
  background-position:center center;
  height: 100%;
  border-radius: 50%;
}

#dialog{
  background:#fff;

}

.ui-widget-overlay {
  opacity: 1;
  filter: Alpha(Opacity=100);
  background-color: #AAA;
}

/*讀取特效*/
#msg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
  display:flex;
  box-sizing: border-box;
  color:#4F4F4F;
  text-shadow:1 1 4px rgba(100,100,100,1);
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  justify-content:center;
  align-items:center; 
}

