@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

@media only screen and (min-width: 769px){
  #search{
    width: 220px;
    margin:5px;
    background: rgba(255,255,255,255.3);
    color:#000000;
    font-size:18px;
    text-align-last:center;
    display: inline-block;
    -webkit-appearance:none;
    outline:none;
  }

  .container{
    height: 100% !important ;
    max-width: 90%;
    display: block;
    padding: 10px;
    margin:0 auto;
    overflow:hidden;
    width:80%;
    column-count: 3;
    column-gap: 2em;
    text-align:center;
  }
  .item {
    display: inline-block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    display: inline-block;
    border-radius:10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    box-shadow:6px 6px 10px #000;
    width: 90%;
    text-align:center;
  }

  #msg_1 {
    height: 900px;
  }

  body {
    background: url("") no-repeat center center fixed;
    background-color: #FCFCFC;
    background-position:  center bottom;
    background-attachment: fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-size: 16px;
    font-family:'Microsoft JhengHei';
    /*min-width: 100%;
    min-height: 100%;*/
  }

  #game_count{
  background-color:#4f4f4f;
  color: #FFFFFF;
  max-width: 30%;
  border-radius:10px;
  font-size: 16px;
  position:relative;
  margin: auto;
  }
}
@media only screen and (min-width: 0px) and (max-width: 769px){
  #search{
    width: 14em;
    margin:5px;
    background-color:#FFFFFF;
    color:#000000;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    font-size:24px;
    text-align-last:center;
    display: inline-block;
  }

  .container{
    height: 100% !important ;
    max-width: 90%;
    display: block;
    padding: 10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    width:90%;
    column-count: 1;
    column-gap: 1em;
    text-align:center;
  }
  .item {
    display: block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    border-radius:10px;
    display: inline-block;
    box-shadow:6px 6px 10px #000;
    text-align:center;
  }

  #msg_1 {
    height: 200px;
  }
  body {
    background: url("") ;
    background-color: #F0F0F0;
    background-position:  center bottom;
    background-attachment: fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-size: 16px;
    font-family:'Microsoft JhengHei';
    /*min-width: 100%;
    min-height: 100%;*/
  }
  #game_count{
  background-color:#4f4f4f;
  color: #FFFFFF;
  max-width: 50%;
  border-radius:10px;
  font-size: 16px;
  position:relative;
  margin: auto;
  }

}

.bannerimage {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#quering{
  font-size: 26px;
  color:#4F4F4F;
  text-shadow:1 1 1px rgba(100,100,100,1);
  text-align:center;
  margin:0px auto;
}

#nodata{
  font-size: 26px;
  color:#FFFFFF;
  text-shadow:0 0 10px rgba(100,100,100,1);
  text-align:center;
}

#title{
  background-color:#FF0000;
  padding:8px;
  margin-bottom:4px;
  border-radius:10px;
  text-align:center;
  color:#FFFFFF;
  font-size: 24px;
  font-weight:lighter;
}

#guidebtn{
  padding:8px;
  margin-bottom:4px;
  margin: auto;
  height: 120px;
  text-align:center;
  border-radius:10px;
  font-size: 14px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}


#main{
  text-align:center;
}

#idt{
  color :#5B4B00;
}
#jp_idt{
  color :#984B4B;
}
#query_select{
  text-align:center;
}
.game_box{
  display: inline-block;
  background-color:#FF0000;
  padding:2px;
  margin-bottom:4px;
  opacity:0.9;
  display: inline-block;
  border-radius:10px;
  margin: 5px 5px 5px 0;
  overflow:hidden;
  width: 90%;
  text-align:center;
  z-index:0;
}

#pricebox{
  background-color:#FFFFFF;
  border-radius:10px;
}

#lower_contry{
  color:#FFFFFF;
  font-size: 18px;
  margin-left:auto;
  margin-right:auto;
  font-weight:lighter;
}

#higher_contry{
  color:#FFFFFF;
  font-size: 18px;
  margin-left:auto;
  margin-right:auto;
}

#lower_box{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  background-color:#00caca;
  position:relative;
  margin: auto;
  height:40px;
  font-size: 18px;  
  color: #FFFFFF;  
}

#box{
  padding:6px;
}


 #box_hr{
  width:2px;
  height:20px;
  background:#FFFFFF;
  margin: 6px;
}

#higher_box{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  background-color:#9d9d9d;
  color :#FFFFFF;
  position:relative;
  margin: auto;
  height:40px;
  font-size: 18px; 
}

#lower_price{
  height: 24px;
  width: 120px;
  background-color:#FFFFFF;
  border-radius:5px;
  color:#00caca;
  font-size: 20px;  
  text-align: center;
  margin-left:auto;
  margin-right:20px;
}

#higher_price{
  background-color:#FFFFFF;
  border-radius:5px;
  height: 24px;
  width: 120px;
  color:#9d9d9d;
  font-size: 20px;
  text-align: center;
  margin-left:auto;
  margin-right:20px;
}

#onsale_box{
  color:#4f4f4f;
  font-size: 16px;
  margin-top:12px;
  margin-bottom:12px;

}

#pricetip{
  font-size: 16px;
  color:#ea0000;
}

#showname{
  background-color:#FF0000;
}

#c_name{
  color:#FFFFFF;
  font-size: 20px;
}

#name{
  color:#FFFFFF;
  font-size: 12px;
  font-weight:lighter;
}

.best_circle {
  left: 10%;
  display: inline-block;
  width: 20px;
  height:20px;
  border-radius: 50%;
  border: 2px solid #eee;
  padding: 2px;
  background:#fff;
}
.bad_circle {
  display: inline-block;
  position:relative;
  left: 0%;
  width: 15px;
  height:15px;
  border-radius: 50%;
  border: 2px solid #eee;
  padding: 2px;
  background:#fff;
}

.innimg{
  background-size:cover;
  background-position:center center;
  height: 100%;
  border-radius: 50%;
}

#dialog{
  background:#fff;
}

.btn{
  color :#FFFFFF;
  background-color:#66b3ff;
  padding:4px;
  margin:4px;
  border-radius:8px;
  text-align:center;
  font-size: 14px;
  text-decoration:none;
 }

 #menubtn{
  margin:10px;
 }

 #query_select{
  color :#444444;
  font-weight:bold;
  font-size: 16px;
 }

.ui-widget-overlay {
  opacity: 1;
  filter: Alpha(Opacity=100);
  background-color: #AAA;
}

.price{
  width:80px;
  border-radius: 5px; 
  font-size:16px;
  display: inline-block;
  -webkit-appearance:none;
  outline:none;
}

#price_title{
  margin-left:auto;
  margin-right:auto;
}


/*讀取特效*/
#msg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
  display:flex;
  box-sizing: border-box;
  color:#4F4F4F;
  text-shadow:1 1 4px rgba(100,100,100,1);
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  border-top: 1px solid white;
  justify-content:center;
  align-items:center; 
}

